[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[user]
    name = Collin Styles
    email = collingstyles@gmail.com
[alias]
    ci = commit
    st = status
    unstage = reset HEAD --
    graph = log --graph --oneline --decorate --all
    graphme = log --graph --oneline --decorate
    last = log -1 HEAD
    discard = checkout --
    f = fetch
    fa = fetch --all
    a = add
    ab = absorb
    abn = absorb --verbose --dry-run
    abr = absorb --verbose --and-rebase
    ap = add --patch
    bl = blame
    br = branch
    brm = branch --move
    brav = branch --all --verbose
    ca = commit --amend
    can = commit --amend --no-edit
    cb = checkout -b
    cf = commit --fixup
    cfg = config --edit
    cl = clone
    co = checkout
    cp = cherry-pick
    d = diff
    dc = diff --cached
    dhu = diff HEAD @{u}
    duh = diff @{u} HEAD
    g = graph
    l = log
    lo = log --oneline
    lp = log --patch
    lpr = log --patch --reverse
    m = merge
    ma = merge --abort
    p = push
    pu = push --set-upstream origin HEAD
    pl = pull
    r = reset
    ra = rebase --abort
    rb = rebase
    rc = rebase --continue
    rd = range-diff
    re = restore
    ref = reflog
    rem = remote
    res = restore --staged
    rev = revert
    rh = reset --hard
    rhu = reset --hard '@{u}'
    ri = rebase --interactive
    root = rev-parse --show-toplevel
    rs = rebase --skip
    rv = remote --verbose
    s = show
    sl = stash list
    ss = stash show --patch
    sw = switch
    swd = show --word-diff
    wd = diff --word-diff
    wdc = diff --word-diff --cached
    wt = worktree
[log]
    date = local
    follow = true
[push]
    default = simple
[color]
    ui = auto
[fetch]
    prune = true
[core]
    quotepath = false
    editor = nvim
[rebase]
    autosquash = true
[commit]
    verbose = true
[init]
    templateDir = ~/.git-templates
