[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[user]
    name = Collin Styles
    email = collingstyles@gmail.com
[alias]
    graph = log --graph --oneline --decorate --all
    graphme = log --graph --oneline --decorate
    root = rev-parse --show-toplevel
[log]
    date = local
    follow = true
[pull]
    rebase = false
[push]
    default = simple
    autoSetupRemote = true
    followTags = true
[color]
    ui = auto
[fetch]
    prune = true
    pruneTags = true
    all = true
[core]
    quotepath = false
    editor = nvim
    pager = "delta --max-line-length=1024 | less -X"
    commitGraph = true
[interactive]
  diffFilter = delta --color-only
  singleKey = true
[delta]
  theme = Sublime Snazzy
[rebase]
    autosquash = true
    autostash = true
    updateRefs = true
[blame]
    coloring = repeatedLines
    date = local
[commit]
    verbose = true
[diff]
    mnemonicPrefix = true
    wordRegex = "[^[:space:],=<>]+"
    ; renameLimit = 9999
    colorMoved = plain
    ; colorMovedWS = allow-indentation-change
    orderFile = ~/.config/git/orderfile
    algorithm = histogram
[init]
    defaultBranch = main
    templateDir = ~/.git-templates
[pull]
    ff = only

[color "status"]
    untracked = red
    added = green bold
    changed = yellow
    unmerged = magenta
[color "branch"]
    current = yellow bold
    local = white
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 88
	newNormal = green bold
	newHighlight = green bold 64
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[absorb]
  maxStack = 20
  oneFixupPerCommit = true
[status]
    short = true
    branch = true
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[rerere]
    enabled = true
[merge]
    conflictstyle = zdiff3
